p{
    font-family: Roboto,Arial;
    margin-top: 0px;
    margin-bottom: 0px;
}

body{
    margin: 0;
    
    padding-top: 80px;
    padding-bottom: 3000px;
    padding-left: 90px;
    padding-right: 20px;
    
    
    background-color: rgb(151, 0, 0);
}
@media (min-width : 871px){
    body{
        padding-left: 90px;
    }
}