.header{
    display: flex;
    flex-direction: row;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    background-color: white;
    padding-top: 5px;
    border-bottom-width: 0.5px;
    border-bottom-style:solid ;
    border-color: rgb(170, 170, 170);
    padding-bottom: 5px;
    z-index: 1;
    
    
}


.search-bar{
    width: 0;
    padding-left: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
   
    margin-bottom: 10px;
    border-color: rgb(180, 180, 180);
    border-width: 1px;
    /* height: 15px; */
    box-shadow: inset 0px 0px 5px rgba(0,0,0,0.15);
    border-radius: 2px;
    border-style: solid;
    flex: 1;
}


.searchvoiceButton{
    margin-left: 10px;
    height: 38px;
    width: 38px;
    border-radius: 19px;
    border: none;
    position: relative;
    
    
    

}

.searchvoice{
    width: 22px;

}


.searchlogo{
    width: 55px;
    height: 26px;
    position: relative;
    

}

.searchlogoButton{
   height: 39px;
    margin-left: -1px;
    border-color: rgb(180, 180, 180);
    border-width: 1px;
    border-top-right-radius: 2px;
    border-bottom-right-radius : 2px;
    border-style: solid;

}

.leftside{
    width: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
 
    

}

.search-bar{
    font-size: 15px;
    margin-top: 10px;
  
    
}


.middle{
    flex: 1;
    margin-left:40px ;
    margin-right: 60px;
   max-width: 420px;
   display: flex;
   align-items: center;

}

.rightside{
    
    width: 170px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 30px;
    flex-shrink: 0;
    
}



.imagediv{
    width: 28px;
    margin-top: 2px;

}

.imagesChannel{
    width: 30px;
}

.notification{
    position: relative;
}

.threebutton{
    position: absolute;
  
    height: 14px;
    width: 14px;
    border-radius: 7px;
    font-size: 10px;
    border: none;
    background-color: rgb(255, 26, 26);
    color: white ;
    left: 14px; 
    padding: 0px;  
    top: 3px;
    

}
.searchlogoButton, 
.searchvoiceButton{
    display: flex;
    justify-content: center;
    align-items: center;
}


.searchlogoButton .tooltip,
.searchvoiceButton .tooltip{
    position: absolute;
  
    background-color: gray;
    color: white;
    padding: 6px 8px;
    border-radius: 4px;
    font-size: 12px;
    font-family: roboto;
    bottom: -30px;
    opacity: 0;
    cursor: pointer;
    transition: opacity 0.15s;
    pointer-events: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-wrap: nowrap;
    
}

.searchlogoButton:hover .tooltip,
.searchvoiceButton:hover .tooltip{
    opacity: 1;
}



.imagediv{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagediv .tooltip{
    position: absolute;
    background-color: gray;
    color: white;
    padding: 6px 8px;
    border-radius: 4px;
    font-size: 12px;
    font-family: roboto;
    text-wrap: nowrap;
    bottom: -40px;
    pointer-events: none;
    opacity:0;

}

.imagediv:hover .tooltip{
    opacity: 1;
}
